[phases.setup]
nixPkgs = ['python311', 'playwright-driver']

[phases.install]
# Install requirements and then use the VENV version of playwright to install chromium
cmds = [
    'python -m venv .venv',
    '.venv/bin/pip install -r requirements.txt',
    '.venv/bin/python -m playwright install --with-deps chromium'
]

[start]
# Make sure we use the python inside the venv to start the app
cmd = '.venv/bin/python main.py'
